
<h3> the list of users</h3>

<!--<h1> admin component</h1>-->
<!--<div class="container">-->
<!--  <table class="table table -borderd taable-inverse">-->

<!--    <tr>-->
<!--      <th>Name Of SignupInfo</th>-->
<!--      <th> Username</th>-->
<!--      <th> Role</th>-->
<!--      <th> the contact</th>-->
<!--      <th> Detail</th>-->
<!--    </tr>-->

<!--    <tr *ngFor="let item of board">-->
<!--      <td>-->
<!--&lt;!&ndash;        <a [routerLink]="['/view/', voiture.id]">{{voiture.name}}</a> </td>&ndash;&gt;-->
<!--      <td>{{item.name}}</td>-->
<!--      <td>{{item.username}}</td>-->
<!--      <td>{{item.role}}</td>-->
<!--      <td>-->
<!--        <button class="btn btn-info"(click)="detail(item)">detail</button>-->
<!--      </td>-->
<!--    </tr>-->

<!--  </table>-->
<!--</div>-->
