<h1>details component</h1>

<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink ="/admin">back to list</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{user.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{user.username}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{user.role}}</div>
    </div>
  </div>
</div>
<!--<div class="container">-->
<!--  <h1  class ="display-3">-->
<!--    <strong> {{currentUser.name}}</strong> details are displayed...-->
<!--        </h1>-->
<!--<h1>-->
<!--  <strong>{{userId}}</strong>-->
<!--  </h1>-->
<!--  </div>-->
